@model IEnumerable<Dept_Labour_Immi.Models.Penalty>

@{
    ViewData["Title"] = "Penalty List";
}

<h2>Penalty List</h2>

<p>
    <a asp-action="Create" class="myButton">အသစ်ထည့်သွင်းခြင်း</a>
</p>
<table class="table" id="PenaltyTB">
    <thead>
        <tr>
            <th>စဥ်</th>
            <th>
                @Html.DisplayNameFor(model => model.agency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.penaltyType)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td class="aherf_link">
                    <a asp-action="Details" asp-route-id="@item.Id" style="color:blue">
                        @Html.DisplayFor(modelItem => item.agency.AgencyName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Todate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.penaltyType)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.agency.AgencyName)
            </td>*@

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="customButton fa fa-edit"></a>
                    @*|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
@section scripts{
    <script>

        $(document).ready(function () {
            $("#PenaltyTB").DataTable();
        })

    </script>
}