@model IEnumerable<Dept_Labour_Immi.Models.Operation_2>

@{
    ViewData["Title"] = "Index";
}

<h2>EC</h2>

<p>
    <a asp-action="Create" class="myButton">အသစ်ထည်.သွင်းခြင်း</a>
</p>
<table @*class="table"*@ id="operTB" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>စဉ်</th>
            <th>
                @Html.DisplayNameFor(model => model.DOEID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apply_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract_Request_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThaiCompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_Total_Workers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract_Granted_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permit_Total_Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actual_Contract_Total_Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var item in Model) {
            <tr>
                <td>@index</td>
                <td class="aherf_link">
                    <a asp-action="Details" asp-route-id="@item.ID" style="color:blue">
                        @Html.DisplayFor(modelItem => item.dOE.DOE_NO)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apply_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract_Request_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.agency.AgencyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thaiCompany.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request_Total_Workers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract_Granted_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permit_Total_Worker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actual_Contract_Total_Worker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="customButton fa fa-edit"></a>
                    @* |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                </td>
            </tr>
            index++;
        }   
    </tbody>
</table>

<style media="all" type="text/css">
    #operTB td {
        padding: 2px 0px 2px 15px;
        align-items: center;
    }
</style>

@section scripts{
    <script>

        $(document).ready(function () {
            $("#operTB").DataTable({
                scrollX: true,
            });
        })

    </script>
}
