@model Dept_Labour_Immi.Models.ThaiSending

@{
    ViewData["Title"] = "Details";
}

<h1>အသေးစိတ်</h1>

<div>
    <h4>Thai Sending</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.AgencyID)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.agency.AgencyName)
        </dd>
       @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThaiCompanyID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thaiCompany.CompanyName)
        </dd>*@
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.CountOfThaiCompany)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.CountOfThaiCompany)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.ContractSigningDate)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.ContractSigningDate)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.OWICDate)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.OWICDate)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.YangonDepartureDate)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.YangonDepartureDate)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.MWDAwaitingDate)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.MWDAwaitingDate)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.DepartureFromMWDDate)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.DepartureFromMWDDate)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.RequestMaleWorker)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.RequestMaleWorker)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.RequestFemaleWorker)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.RequestFemaleWorker)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.RequestTotalWorkers)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.RequestTotalWorkers)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.PermitMaleWorker)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.PermitMaleWorker)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.PermitFemaleWorker)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.PermitFemaleWorker)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.PermitTotalWorker)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.PermitTotalWorker)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.InchargePersonFromAgency)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.InchargePersonFromAgency)
        </dd>
        <dt class="col-sm-2 mt-1 p-1">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10 mt-1 p-1">
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="myButton">Back to List</a>
</div>
