@model Dept_Labour_Immi.Models.Operation_1

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Operation_1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apply_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apply_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document_Complete_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document_Complete_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agency.AgencyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thaiCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thaiCompany.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dOE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dOE.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaleWorkers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaleWorkers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemaleWorkers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemaleWorkers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWorkers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWorkers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="myButton">Back to List</a>
    </form>
</div>
